---
layout: layout.liquid
title: Random Name Generator
---

<div class="container text-center mt-5" x-data="nameGenerator()">

  <h1 class="mb-4">Random Name Generator</h1>

  <h1 class="name-display mb-4" x-text="currentName"></h1>

  <button class="btn btn-primary" @click="getRandomName()">
    Generate Name
  </button>

</div>

<script src="/app.js"></script>
